.navbar {
    margin-bottom: 0;
    background-color:#42652D;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:#424242!important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.container-fluid {
    padding-top: 200px;
    padding-bottom: 70px;
}
.container-fluid span{
    border-bottom:3px solid #fff;
    border-top:3px solid #fff;
    width:20%;}
/*contenido*/
.navbar-brand img{
	width:20%;
	height:100%;
}
.text-white {
	color:#fff;
}
.txt-green i{
    color:#1A3C06;
    font-size:20px;
}
video{
	width:100%;
}
.profile{
	position: absolute;
	left:35%;
	top:20%;
	text-align: center;
	z-index:999;
	width:30%;
	height: 65%;
}
.profile img {
	border-radius:50%;
	border: 1px solid #fff;
}
.profile a{
    background: #15558F;
    color:white;
}
@media (max-width:700px){
    .profile{
        height:17%;
        top:12%;
    }
    .profile img{
        width:40%;
    }
    .profile  h1{
        font-size:30px;
    }
    .profile p, a{
        font-size:10px;
    }
}
.about{
    background:url("../images/cintillo.png");
}
.acerca-de-mi img{
	margin:6px;
	border-radius:10px;
	border:2px solid #15558F;
}
#About, .about,#Intereses{
    background: url("../images/tile2.png");
}
.biografia h4{
	color:#42652d;
    font-family: 'Niconne';
    font-size: 30;
}
.item img{
    height: 25%;
}
.paginas li{
    display: inline-block;
}
#Contactame{
    background:url("../images/yo1.jpg");
    background-size: cover;
    opacity:0.9;
}
.titulos{
    font-family: 'Niconne';
    color:white;
}
.titulos1{
    font-family:'Niconne';
    font-size:30;
    color:#42652d;
    position:absolute;
    left:33%;
}
.titulos1 h2{
font-family:'Niconne';
color:#42652d;
font-size:60;
}
.texto{
    font-family:'Montserrat', sans-serif;
    font-size: 13;
    color:#1C9BC0;
}
.texto1{
    font-family:'Montserrat', sans-serif;
    font-size: 13;
    color:#42652d;
}
.subtitulo{
    font-family:'Montserrat', sans-serif;
    color:#339795;
}
.cintillo{
    width:100%;
    left:35%;
    top:20%;
    text-align: center;
}
#contacto{
    margin:50px 10px;
}
.list-contact li {
    list-style: none;
    display: inline-block;
    padding: 0 20px 20px;
    width: 100%; 
}
 .list-contact i, .e-mail i {
    font-size: 30px;
    height: 60px;
    width: 60px;
    line-height: 40px;
    color:#1C9BC0;
    text-align: center;
    border: 1px solid #FCFCFC;
    border-radius: 100%;
    padding: 10px;
    vertical-align: middle;
    transition: all 1s; 
}  
.list-contact i:hover {
    border-radius: 10px;
    background:#42652D;
    color: #FFF; 
}
.list-contact .media-body {
    width: 300px;
    text-align: left; 
}
.media-heading {
    font-size: 18px;
    color:#42652D; 
    font-family:'Montserrat', sans-serif;
    font-weight:900;
}
.media-body p {
    font-size: 15px;
    color: #850009; 
    font-family:'Montserrat', sans-serif;
}
.contenido{
    background:url("../images/tile1.png");} 
.footer {
  background: #171111;
  padding: 20px;
  color: #e6dede; 
  text-align: center;
}